{% load widget_tweaks %}

{% if form.non_field_errors %}
    {% for message in form.non_field_errors %}
        {{ message }}
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <div>
        <label for="email">Email</label>
        {% render_field form.email %}       
    </div>
    <div>
        <label for="password">Password</label>
        {% render_field form.password %}
    </div>
    

    <button type="submit">Valider</button>
</form>