<div style="background-color: #c2c2c2; padding: 15px;">
    <h2 style="margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #5865F2; color: #ffffff;">Verification Email</h2>
    <div style="margin: 0; padding: 15px; background-color: #ffffff;">
        <p>Hi {{ user.name }},</p>
        <p>Vous avez créé un compte sur {{ domain }}, veuillez cliquer sur le lien ci-dessous pour valider votre inscription.</p>
        <a href="{{ request.scheme }}://{{ domain }}{% url 'user:verify-email-confirm' uidb64=uid token=token %}" style="border: 0; color: #ffffff; background-color: #5865F2; padding: 15px; font-weight: bold; text-decoration: none; border-radius: 5px;">
            Verifier votre adresse e-mail
        </a>
        <p style="margin-top: 40px;">Ou vous pouvez copier le lien ci-dessous dans le navigateur</p>
        <p>{{ request.scheme }}://{{ domain }}{% url 'user:verify-email-confirm' uidb64=uid token=token %}</p>
        <p>L'équipe de Digitalux</p>
    </div>
    
</div>